
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

body{ 
    font-family: 'Lato', sans-serif;
}

/* menu hamburguesa  */


.dropdown-item:hover {
    background-color: rgb(180, 56, 56);
    color: #ffffff !important;
}

.logo {
    width: 200px;
    display: flex;
    margin: 0px 0px 0px 50px;
    
    flex-wrap: wrap;
    
}




/* banner  */

.contenedorbanner img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}



main{
    padding: 20%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}


/* contenedor */

.contenedor1 {
    
    background-color: rgb(237, 237, 237);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    display: inline-block;
    margin-inline: 1.5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(88, 0, 0, 0.2);
    
}

.contenedor1:hover{
    transform: scale(1.01);
}

ul {
    list-style: none;

    display: block;
    margin: 0 auto;
}



.cont1__img{
    width: 100%;
    border-radius: 50%;
}

.cont1__titulo{
    font-size:20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont1__parrafo{
    font-size:17px;
    padding: 5px; 
}


.cont1__boton{
    width: 100%;
    background-color: crimson;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.cont1__img,
.cont1__titulo,
.cont1__parrafo {

    margin-bottom: 10px;
}

.tituloqs {
    display: flex;
    margin: 5px 8px 8px 5px ;
    padding: 20px;
    justify-content: center;
    
}

.quienessomosp {
    display: flex;
    justify-content:center;
    padding: 15px;
    color: black; 
}

.misionvision{
    display: grid;
    grid-template-columns: 50% 50%;
    
    
}

.titulo-mision{
    display: flex;
    
    margin: 5px 8px 8px 5px ;
    padding: 20px;
    justify-content: center;
    

}

.titulo-vision{
    display: flex;
   
    margin: 5px 8px 8px 5px ;
    padding: 20px;
    justify-content: center;
    

}




.mision > p {

    display: flex;
    margin-bottom: 5%;
    justify-content:center;
    padding: 15px;
    color: black; 
}

.vision > p {

    display: flex;
    margin-bottom: 5%;
    justify-content:center;
    padding: 15px;
    color: black; 
}



.titulocirtulo1 {

    width: 50%;
    background-color: red;
    color: #ffffff;
    padding-left:18%; 
    
}

.quienessomos {

    background-color: hsl(243, 100%, 46%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    border: 20px solid gold;


}

.titulocirtulo2 {

    
    background-color: hsl(243, 100%, 46%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    border: 20px solid gold;
    
}

.contenido {
    display: flex;
    flex-wrap: wrap;
}



.contenedorindex {

    display: flex;
    background-color: aqua;
    justify-content: space-around;
    

  
}

.contenedorindex img {

    display: flex;
    border-radius: 50%;
    padding: 10px;
    width: 100%; 
    
}


.titulocirtulo {

    display: flex;
    justify-content:center;
    padding: 15px;
    color: black;   
}

/* Parrafos de la paginas RES CERDO POLLO  */

.titulocirtulo_p {

    display: flex;
    justify-content:center;
    padding: 15px;
    color: black;   
}


/* --------------------footer------------------- */


footer {

    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 20px;
   

}

.justo {
    

    background-color: #000000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

    

}



.logo2 img {

    width: 200px ;
    display: block;
    margin: 0 auto;

}

.footer-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.redes_sociales {

    width: 250px;
    
    display: flex;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
    
}

.redes_sociales  img:hover {
    
    transform: scale(1.03);

}


.redes_sociales img {

    width: 20%;
    padding: 5px;
    margin-left: 10%;
    
}

/* formullario  de contacto  */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  label,
  input,
  select {
    display: inline-block;
    margin: 10px 0;
  }
  
  label {
    width: 150px;
  }
  
  input,
  select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f12f1a;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  /* Medias Querys */

  @media screen  and (max-width: 767px) {

    

    .justo { 
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 50% 25% ;
    
    }

    .logo2 {
        padding: 3%;
    }

    .logo2 img{
        padding: 3%;
    }

    .justo img { 
        margin: 0 auto;
    
    }

    .footer-left {
        width: 100%;
        margin: 0 auto;
    }

    .redes_sociales{
        width: 100%;
        justify-content: center;
    }

    .redes_sociales img{
        width: 50px;
        
    }

    .misionvision {
        display: flex;
        flex-direction: column;
    }
    
    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25% ;
    }
    
  }

  @media screen  and (min-width: 768px) and (max-width: 1023px) {

    .justo { 
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100%  ;
    
    }

    .logo2 {
        padding: 3%;
    }

    .logo2 img{
        padding: 3%;
    }

    .justo img { 
        margin: 0 auto;
    
    }

    .footer-left {
        width: 100%;
        margin: 0 auto;
    }

    .redes_sociales{
        width: 100%;
        justify-content: center;
    }

    .redes_sociales img{
        width: 50px;
        
    }
  }
 


  




