
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

body{ 
    font-family: 'Lato', sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
   
}
.menu{
    padding: 20px;
}

.logo {
    width: 200px;
    flex-wrap: wrap;
    
}


header nav {
	float:right;
	line-height:30px;
}

.navegacion ul {

    list-style: none;
    background-color: #000000

    
}
.menu > li {

    position: relative;
    display: inline-block;
        
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;  
}


.menu li a:hover{   
    color: white;
    transition: all .3s;
    background-color: rgb(243, 50, 50);
}

/* submenu */

.submenu {

    position: absolute;
    background-color: red;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    
    text-decoration: none;

}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


/* banner  */

.contenedorbanner img {
    width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}



main{
    padding: 20%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}


/* contenedor */

.contenedor1 {
    
    background-color: rgb(237, 237, 237);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    display: inline-block;
    margin-inline: 1.5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(88, 0, 0, 0.2);
    
}

.contenedor1:hover{
    transform: scale(1.01);
}

ul {
    list-style: none;

    display: block;
    margin: 0 auto;
}



.cont1__img{
    width: 100%;
    border-radius: 50%;
}

.cont1__titulo{
    font-size:20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont1__parrafo{
    font-size:17px;
    padding: 5px; 
}


.cont1__boton{
    width: 100%;
    background-color: crimson;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.cont1__img,
.cont1__titulo,
.cont1__parrafo {

    margin-bottom: 10px;
}

.tituloqs {
    display: flex;
    margin: 5px 8px 8px 5px ;
    padding: 20px;
    justify-content: center;
    
}

.quienessomosp {
    display: flex;
    justify-content:center;
    padding: 15px;
    color: black; 
}

.misionvision{
    display: grid;
    grid-template-columns: 50% 50%;
    
    
}

.titulo-mision{
    display: flex;
    
    margin: 5px 8px 8px 5px ;
    padding: 20px;
    justify-content: center;
    

}

.titulo-vision{
    display: flex;
   
    margin: 5px 8px 8px 5px ;
    padding: 20px;
    justify-content: center;
    

}




.mision > p {

    display: flex;
    margin-bottom: 5%;
    justify-content:center;
    padding: 15px;
    color: black; 
}

.vision > p {

    display: flex;
    margin-bottom: 5%;
    justify-content:center;
    padding: 15px;
    color: black; 
}



.titulocirtulo1 {

    width: 50%;
    background-color: red;
    color: #ffffff;
    padding-left:18%; 
    
}

.quienessomos {

    background-color: hsl(243, 100%, 46%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    border: 20px solid gold;


}

.titulocirtulo2 {

    
    background-color: hsl(243, 100%, 46%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    border: 20px solid gold;
    
}

.contenido {
    display: flex;
    flex-wrap: wrap;
}



.contenedorindex {

    display: flex;
    background-color: aqua;
    justify-content: space-around;
    

  
}

.contenedorindex img {

    display: flex;
    border-radius: 50%;
    padding: 10px;
    width: 100%; 
    
}


.titulocirtulo {

    display: flex;
    justify-content:center;
    padding: 15px;
    color: black;   
}

/* Parrafos de la paginas RES CERDO POLLO  */

.titulocirtulo_p {

    display: flex;
    justify-content:center;
    padding: 15px;
    color: black;   
}


/* --------------------footer------------------- */


footer {

    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 20px;

}

.justo {

    background-color: #000000;

    display: grid;
    grid-template-columns: 30% 45% 25% ;

}



.logo2 img {

    width: 200px ;
    display: block;
    margin: 0 auto;

}

.footer-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.redes_sociales {

    display: flex;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
    
}

.redes_sociales  img:hover {
    
    transform: scale(1.03);

}


.redes_sociales img {

    width: 20%;
    padding: 5px;
    margin-left: 10%;
    
}

/* formullario  de contacto  */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  label,
  input,
  select {
    display: inline-block;
    margin: 10px 0;
  }
  
  label {
    width: 150px;
  }
  
  input,
  select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f12f1a;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  

  




