form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    label {
        width: 150px;
        display: inline-block;
        margin: 10px 0;
    }

    input {

        display: inline-block;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    select {

        display: inline-block;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    }

    button {
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        background-color: $colorbotton;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #000000;
        }

      }

  }